.main_container {
  height: 100%;
}

.main_container > section {
  height: 100%;
}

.div1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
  top: 50px;
  opacity: 0;
  background-image: url(./../img/aa.png);
}

.div2 {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  position: absolute;
  right: 50px;
  bottom: 50px;
  opacity: 0;
}
